@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Open+Sans&family=Roboto&family=Yusei+Magic&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #343450;
}

h2 {
  margin-bottom: 2rem;
}

h1 {
  margin: 2rem 0;
}

.form {
  background: #e8f0ff;
  padding: 2rem;
  text-align: center;
}
